@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "TikTok Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

body {
    padding: 50px 0px;
}

.main {
        border-top: 4px solid black;
    border-bottom:4p solid black ;
width: 1200px;
background-color: antiquewhite;
box-shadow: 1px 1px 5px 1px gray;
margin: auto;
};

.ul {
  list-style-type: none;
margin-top: 20px;
}
.img {
width: 383px;
height: 450px;
}

.header {
    margin-bottom: 42px;
        border-top: 4px solid black;
    border-bottom:4px solid black ;
}

tr,td {
    vertical-align:auto;
}

table {
    padding-right: 27px;
}

li {
    display: inline-block;
    max-width: 347px;
    text-align: center;
    margin-left: 35px;
}

.content {
border: 4px solid black;
margin-bottom: 37px;
}